<section class="article-list-section">
    <h2 class="section-title article-list-section__title">Articles populaires</h2>

    <ul class="article-list">
        <li class="article-list__item">
            <article class="article-thumbnail">
                <img [src]="article.image" alt="" class="article-thumbnail__picture">
                <p class="article-thumbnail__date">{{article.createdAt | date:'dd.MM.yyyy'}}</p>
                <h3 class="article-thumbnail__title">{{article.title}}</h3>
                <p class="article-thumbnail__extrait">{{article.content | slice:0:100}}...</p>
                <p class="article-thumbnail__likes">{{article.likeCount}}💖</p>
            </article>
        </li>
        <li class="article-list__item">
            <article class="article-thumbnail">
                <img [src]="article.image" alt="" class="article-thumbnail__picture">
                <p class="article-thumbnail__date">{{article.createdAt | date:'dd.MM.yyyy'}}</p>
                <h3 class="article-thumbnail__title">{{article.title}}</h3>
                <p class="article-thumbnail__extrait">{{article.content | slice:0:100}}...</p>
                <p class="article-thumbnail__likes">{{article.likeCount}}💖</p>
            </article>
        </li>
        <li class="article-list__item">
            <article class="article-thumbnail">
                <img [src]="article.image" alt="" class="article-thumbnail__picture">
                <p class="article-thumbnail__date">{{article.createdAt | date:'dd.MM.yyyy'}}</p>
                <h3 class="article-thumbnail__title">{{article.title}}</h3>
                <p class="article-thumbnail__extrait">{{article.content | slice:0:100}}...</p>
                <p class="article-thumbnail__likes">{{article.likeCount}}💖</p>
            </article>
        </li>
        <li class="article-list__item">
            <article class="article-thumbnail">
                <img [src]="article.image" alt="" class="article-thumbnail__picture">
                <p class="article-thumbnail__date">{{article.createdAt | date:'dd.MM.yyyy'}}</p>
                <h3 class="article-thumbnail__title">{{article.title}}</h3>
                <p class="article-thumbnail__extrait">{{article.content | slice:0:100}}...</p>
                <p class="article-thumbnail__likes">{{article.likeCount}}💖</p>
            </article>
        </li>
        <li class="article-list__item">
            <article class="article-thumbnail">
                <img [src]="article.image" alt="" class="article-thumbnail__picture">
                <p class="article-thumbnail__date">{{article.createdAt | date:'dd.MM.yyyy'}}</p>
                <h3 class="article-thumbnail__title">{{article.title}}</h3>
                <p class="article-thumbnail__extrait">{{article.content | slice:0:100}}...</p>
                <p class="article-thumbnail__likes">{{article.likeCount}}💖</p>
            </article>
        </li>
        <li class="article-list__item">
            <article class="article-thumbnail">
                <img [src]="article.image" alt="" class="article-thumbnail__picture">
                <p class="article-thumbnail__date">{{article.createdAt | date:'dd.MM.yyyy'}}</p>
                <h3 class="article-thumbnail__title">{{article.title}}</h3>
                <p class="article-thumbnail__extrait">{{article.content | slice:0:100}}...</p>
                <p class="article-thumbnail__likes">{{article.likeCount}}💖</p>
            </article>
        </li>
        <li class="article-list__item">
            <article class="article-thumbnail">
                <img [src]="article.image" alt="" class="article-thumbnail__picture">
                <p class="article-thumbnail__date">{{article.createdAt | date:'dd.MM.yyyy'}}</p>
                <h3 class="article-thumbnail__title">{{article.title}}</h3>
                <p class="article-thumbnail__extrait">{{article.content | slice:0:100}}...</p>
                <p class="article-thumbnail__likes">{{article.likeCount}}💖</p>
            </article>
        </li>
        <li class="article-list__item">
            <article class="article-thumbnail">
                <img [src]="article.image" alt="" class="article-thumbnail__picture">
                <p class="article-thumbnail__date">{{article.createdAt | date:'dd.MM.yyyy'}}</p>
                <h3 class="article-thumbnail__title">{{article.title}}</h3>
                <p class="article-thumbnail__extrait">{{article.content | slice:0:100}}...</p>
                <p class="article-thumbnail__likes">{{article.likeCount}}💖</p>
            </article>
        </li>
    </ul>
</section>