.article-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

    &__item {
        max-width: 320px;
        border-radius: 4px;

        &--popular {
            border: 1px solid var(--highlight);
        }
    }
}
