@if (article$| async; as article) {
<section class="article-section">
    <a [routerLink]="['/']" class="article-section__return-link"
        ><- Retour à la liste des articles</a
    >
    <img [src]="article.image" alt="" class="article-section__image" />
    <p class="article-section__date">
        {{ article.createdAt | date : "dd.MM.yyyy" }}
    </p>
    <h2 class="section-title article-section__title">{{ article.title }}</h2>
    <p class="article-section__content">{{ article.content }}</p>
    <p class="article-section__likes">{{ article.likeCount }}💖</p>
</section>
}
