.article-section {
    max-width: 800px;
    margin-inline: auto;
    margin-bottom: 48px;

    &__return-link {
        margin-bottom: 8px;
        display: block;
        transition: opacity 0.2s ease-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &__image {
        max-width: 100%;
        border-radius: 4px;
        margin-inline: auto;
        margin-bottom: 8px;
    }

    &__date {
        color: var(--grey);
        font-family: var(--ff-title);
        margin-bottom: 8px;
        text-align: right;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__likes {
        text-align: right;
    }
}
