<header class="header">
    <a href="/" class="header__logo" title="Retour à l'accueil">Cosmo</a>

    <nav class="main-navigation">
        <a href="#" class="main-navigation__link" title="Accueil">Accueil</a>
        <a href="#" class="main-navigation__link" title="Articles">Articles</a>
        <a href="#" class="main-navigation__link" title="L'école">L'école</a>
        <a href="#" class="main-navigation__link" title="Contact">Contact</a>
        <a href="#" class="main-navigation__link main-navigation__link--reverse" title="Contact">Me connecter</a>
    </nav>
</header>